.jumbotron{
     background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
    min-height: 100px;
}

h5.textarea,h3,h1.textarea,h6.textarea{
 color: #159957;   
    
}


@media screen and (max-width: 768px) {
     #jumbo{
       height: 20%;   
     }
     body{
         font-size: 50%
     }
     .display-3{
      font-size: 50%   
     }
 
    
}