<!DOCTYPE html>
<html>
    <head>
        <title>Learn in 60 seconds </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://rawgit.com/swisnl/jQuery-contextMenu/master/src/jquery.contextMenu.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="static/main.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">

    </head>
    <body>
<div id="jumbo" class="jumbotron">
  <h1 class="display-3 ">learnin60seconds.com</h1>
  <p class="lead">Bite sized learning you can use</p>
  <hr class="my-4">


</div>

<div class="container">
    <div class="row">
      <a href="/">  Home</a>
    </div>
    <div class="row">
        	    <h1 class="textarea"> Instructions for using NewsFinder </h1>
    </div>
     <div class="row">
       <ul>
         <li>Click on Add-Ons->NewsFinder->Launch</li>
         <li>This will launch the add-on in the sidebar</li>
         <li>By default it gives you the latest news</li>
         <li>Type in 3-4 terms to find news</li>
         <li>Insert relevant links by clicking on "Insert Link"</li>
         <li>Click on the headline or the open icon to open the article directly</li>
         <li>Don't forget to <a target="_blank" href="mailto:civicstest@li60.zendesk.com?Subject=Civics%20Test%20Flashcards" target="_top"> email us </a>for questions and post a review.
</li>
       </ul>

    </div>
</div>
