<!DOCTYPE html>
<html>
    <head>
        <title>Learn in 60 seconds </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://rawgit.com/swisnl/jQuery-contextMenu/master/src/jquery.contextMenu.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="static/main.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">

    </head>
    <body>
<div id="jumbo" class="jumbotron">
  <h1 class="display-3 ">learnin60seconds.com</h1>
  <p class="lead">Bite sized learning you can use</p>
  <hr class="my-4">


</div>

<div class="container">
    <div class="row">
      <a href="/">  Home</a>
    </div>
    <div class="row">
        	    <h1 class="textarea"> Instructions for using Word Cloud Add On </h1>
    </div>
    <div class="row"><h2>How to download word cloud<br>Modern</h2></div>
     <div class="row">
       Note that both allow saves in the .png format
    </div>

        <div class="row">Go to the modern version (see below)
       <img src="https://raw.githubusercontent.com/tanyagupta/li60/master/images/modern_initial.png" alt="download image")</li></div>
        <div class="row"> You can now download the cloud by clicking on the download icon (see below). This will save it in  your local downloads folder</div>
       <img src="https://raw.githubusercontent.com/tanyagupta/li60/master/images/wc_modern_click2download.png" alt="click to download">

       <h2> Classic</h2>
         <div class="row">In the classic version, when you run the cloud click on "make downloadable"</div>
       <img src="https://raw.githubusercontent.com/tanyagupta/li60/master/images/wc_make_downloadable.png" alt="make downloadable">
       <div class="row">You will see the following screen</div>
       <img src="https://raw.githubusercontent.com/tanyagupta/li60/master/images/wc_make_editable.png" alt="make editable">
       <div class="row">Then go on top of word cloud, right click and save as</div>
       <img src="https://raw.githubusercontent.com/tanyagupta/li60/master/images/wc_classic_save_as.png" alt="classic save as">
       <div class="row">Give a name to your word cloud. This will save it to a location of your choice on your computer</div>


    </div>
</div>
