<!DOCTYPE html>
<html>
    <head>
        <title>Learn in 60 seconds </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://rawgit.com/swisnl/jQuery-contextMenu/master/src/jquery.contextMenu.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="static/main.css"> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">

    </head>
    <body>
<div id="jumbo" class="jumbotron">
  <h1 class="display-3 ">learnin60seconds.com</h1>
  <p class="lead">Bite sized learning you can use</p>
  <hr class="my-4">

 
</div>
<div class="container">
    <div class="row">
      <a href="/">  Home</a>
    </div>
    <div class="row">
        	    <h1 class="textarea"> Terms of Service and Privacy </h1>
    </div>
     <div class="row">
        Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.

        This Application collects some Personal Data from its Users.
    </div>
     <div class="row">

<h5 class="textarea"> Personal Data collected for the following purposes and using the following services:</h5>
</div>
 <div class="row">

<h6 class="textarea"> Analytics</h6>
</div>
 <div class="row">

Google Analytics
- Personal Data: Cookies and Usage data
</div>
 <div class="row">

<h6 class="text_rea"> Contact information</h6>
</div>

 <div class="row">
Data owner
- Li60 and Data Unscience (including Word Cloud Generator Add-On and Web App)
- <privacy@li60.zendesk.com> 
</div>
 <div class="row">


<h6 class="textarea"> What we collect</h6>
</div>
 <div class="row">
We collect the following to help us fine tune our algorithm:
<ul>
<li>General visitor data as provided by Google Analytics.</li>
<li>The URL of any public web page that has been used to generate a tag cloud.</li>
<li>We will not store the URLs of any of your google docs.</li>
<li>Word frequency distribution of a document whose tag cloud we have generated.</li>
<li>Google Analytics data (without any identifying information)</li>
	</ul>

</div>

<h6 class="textarea"> What we do with the information we gather</h6>

We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:

	<ul><li>Internal record keeping.</li>
		<li>We may use the information to improve our products and services.</li>
	</ul>



<h6 class="textarea"> Links to other websites</h6>

Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.



<h6 class="textarea"> Controlling your personal information</h6>

We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so.



<h6 class="textarea"> Limitation of Liability</h6>

The information contained in this website is for general information purposes only. The information is provided by us and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk. 

In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.

Through this website you are able to link to other websites which are not under the control of Li60 and Data Unscience. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.

Every effort is made to keep the website up and running smoothly. However, we take no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.


We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
		

<hr>
    
    </div>


</div>
 



<!--   <img height="100" width="300" src="https://github.com/tanyagupta/tanyagupta.github.io/blob/master/images/wordcloud.png?raw=true">  -->

    </body>
</html>